[python: **.py]
[jinja2: **/templates/**.html]
<<<<<<< HEAD
extensions=jinja2.ext.autoescape,jinja2.ext.with_
=======
extensions=jinja2.ext.autoescape,jinja2.ext.with_
>>>>>>> a22af8c03517cb20b9efa45e1fa2c9a122974671
