@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.naslovnaMainContainer{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.naslovnaNaslov{
  text-align: center;
  color: #eee;
}
.naslovnaCarousel{
  width:60%;
  margin-top: 50px;
}

.commentsSection{
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  align-items: center;
  flex-direction: column;

}
.card-body{
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;


}
.marks{
  justify-self: flex-end;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.userExperience{
  
  background: #e9ecef;
  border-radius: 10px;
  padding: 30px;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "columnLeft columnRight";
}

.columnLeft{
  grid-area: columnLeft;
  display: flex;
  justify-content: center;
}
.columnRight{
  grid-area: columnRight;
  display: flex;
  justify-content: center;
}
.review{
  color: rgb(9, 84, 182);
  font-size:20px;
}
.hidden{
  display: none;
}

.calcMainWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.calcContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "calcLeft calcRight";

  width: 60%;
  
}

.calcLeft{
  grid-area: calcLeft;

}

.calcRight{
  grid-area: calcRight;
}
.form-control{
  margin-bottom: 10px !important;
}

.form-check{
  margin-bottom: 10px !important;
}
.calcRight{
  display: flex;
  justify-content: center;

}
.calcDisplay{
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
  height: 100px;
  background: #e9ecef;
  border-radius: 10px;
  padding: 20px;
}



