{% extends "base.html" %}

{% block content %}


<div class="parkBanner">
    <img src="../static/images/paklenica_banner.jpg" alt="" style="width: 100%; height: auto;">
</div>
<div class="jumbotron">
    <h1 class="display-4">{% trans %}Calculate all your needs!{% endtrans %}</h1>
    <p class="lead">{% trans %}Simply enter the desired options below{% endtrans %}</p>
    <hr class="my-4">
</div>

<div class="calcMainWrapper">
    <div class="calcContainer">

        <div class="calcLeft">
            <h1 style="color: rgb(9, 84, 182);"></h1>
            <br>
            <h5 style="padding: 10px">{%trans%}Number of persons{%endtrans%}</h5>
            <select class="form-control" id="selectPersons">
                <option value="0" selected disabled hidden>{%trans%}Choose here{%endtrans%}</option>
                <option value="100">1</option>
                <option value="180">2</option>
                <option value="240">3</option>
                <option value="300">{%trans%}4 (free extra ticket!){%endtrans%}</option>

            </select>
            <h5 style="padding: 10px">{%trans%}Rock type{%endtrans%}</h5>
            <select class="form-control" id="selectRoute">
                <option value="0" selected disabled hidden>{%trans%}Choose here{%endtrans%}</option>
                <option value="20">{%trans%}Easy one, I'm just a beginner{%endtrans%}</option>
                <option value="40">{%trans%}Moderate one, I have some experience already{%endtrans%}</option>
                <option value="60">{%trans%}Hard mode! I need an adrenaline trip!{%endtrans%}</option>
            </select>
            <h5 style="padding: 10px">{%trans%}How high do you want to go?{%endtrans%}</h5>
            <select class="form-control" id="selectDuration">
                <option value="0" selected disabled hidden>{%trans%}Choose here{%endtrans%}</option>
                <option value="20">{%trans%}Up to 50 meters{%endtrans%}</option>
                <option value="30">{%trans%}Between 50 and 200 meters{%endtrans%}</option>
                <option value="50">{%trans%}All the way up top!{%endtrans%}</option>
            </select>
            <br>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkBoxMeal" onclick="mealBoxChanged()">
                <label class="form-check-label" for="defaultCheck1">
                    {%trans%}I want to take a full course meal as well{%endtrans%}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkBoxEquipment" onclick="equipmentBoxChanged()">
                <label class="form-check-label" for="defaultCheck2">
                    {%trans%}I need to rent the equipment, I don't have mine{%endtrans%}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkBoxGift" onclick="giftBoxChanged()">
                <label class="form-check-label" for="defaultCheck3">
                    {%trans%}I want a surprise gift box!{%endtrans%}
                </label>
            </div>
        </div>

        <div class="calcRight">

            <div class="calcDisplay">
                <h5 style="color: #9e9fa0">Total</h5>
                <h4 id="totalPriceID">00,00 KN</h4>
            </div>

        </div>




    </div>
</div>

<script>
    // globalne varijable
    var totalPrice = 0;
    var personsdifference = 0;
    var routedifference = 0;
    var durationdifference = 0;

    // prikaz izracunate ukupne cijene
    updatePrice = () => {
        document.getElementById("totalPriceID").innerHTML = totalPrice + ",00 KN"

    }
    //eventListeneri
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('select[id="selectPersons"]').onchange = personsChanged;
    }, false);

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('select[id="selectRoute"]').onchange = routeChanged;
    }, false);
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('select[id="selectDuration"]').onchange = durationChanged;
    }, false);


    // kod svake promjene, racunaju se razlike i postavljaju u globalne varijable
    mealBoxChanged = () => {

        let meal = document.getElementById("checkBoxMeal");

        (meal.checked == true) ? totalPrice += 30 : totalPrice -= 30;
        updatePrice()
    }
    equipmentBoxChanged = () => {

        let eq = document.getElementById("checkBoxEquipment");

        (eq.checked == true) ? totalPrice += 50: totalPrice -= 50;
        updatePrice()
    }
    giftBoxChanged = () => {

        let gift = document.getElementById("checkBoxGift");

        (gift.checked == true) ? totalPrice += 15: totalPrice -= 15;
        updatePrice()
    }
    routeChanged = e => {


        if (e.target.value !== "") {

            totalPrice -= routedifference;

            totalPrice += Number(e.target.value);

            routedifference = Number(e.target.value)

            updatePrice()
        }
    }

    personsChanged = e => {


        if (e.target.value !== "") {

            totalPrice -= personsdifference;

            totalPrice += Number(e.target.value);

            personsdifference = Number(e.target.value);

            updatePrice()


        }


    }

    durationChanged = e => {


        if (e.target.value !== "") {

            totalPrice -= durationdifference;

            totalPrice += Number(e.target.value);

            durationdifference = Number(e.target.value)

            updatePrice()
        }
    }
</script>

{% endblock %}