{% extends "base.html" %}

{% block content %}

<div class="indexBanner">

	<div class="naslovnaCarousel">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="../static/images/paklenica_banner.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<a href="{{url_for('paklenica')}}">
							<div class="carouselFontBackground">
								<h5 style="font-size: 30px;">{% trans %}ROCK CLIMBING IN PAKLENICA{% endtrans %}</h5>
							</div>

						</a>

					</div>
				</div>
				<div class="carousel-item">
					<img src="../static/images/zrmanja_banner.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<a href="{{url_for('zrmanja')}}">
							<div class="carouselFontBackground">
								<h5 style="font-size: 30px;">{% trans %}RAFTING ON ZRMANJA{% endtrans %}</h5>
							</div>
							
						</a>

					</div>
				</div>
				<div class="carousel-item">
					<img src="../static/images/user_banner.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<a href="{{url_for('subscribe')}}">
							<div class="carouselFontBackground">
								<h5 style="font-size: 30px;">{% trans %}SUBSCRIBE AND GET SUPER DEALS{% endtrans %}</h5>
							</div>
							
						</a>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">{% trans %}Previous{% endtrans %}</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">{% trans %}Next{% endtrans %}</span>
			</a>
		</div>
	</div>

</div>

<!-- glavni kontejner u kojeg smjestamo elemente -->
<div class="naslovnaMainContainer" style="margin-top: 5%; display: flex; justify-content: center; align-items: center; width: 100%; flex-direction: column;">


	<!-- pozdravna poruka na naslovnoj stranici -->

	<div class="jumbotron">
		<h1 class="display-4">{% trans %}Looking for an adventure?{% endtrans %}</h1>
		<p class="lead"> {% trans %}Start right here!{% endtrans %}</p>
		<hr class="my-4">
		<p>{% trans %}Rafting, rock climbing, you got it! You can easily find any information you want here. If you need a quick tutorial to get you started, simply click here!{% endtrans %}</p>
		<a class="btn btn-primary btn-lg" href="{{url_for('getstarted')}}" role="button">{% trans %}Start the tutorial{% endtrans %}</a>
	</div>

	<!-- carousel tj scroll izbornik-->




</div>


{% endblock %}