{% extends "base.html" %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
	<script src="main.js"></script>
	<style>

	</style>
</head>

<body>
	{% block content %}
	<!-- glavni kontejner u kojeg smjestamo elemente -->
	<div class="naslovnaMainContainer">

		<div class="articleGrid">

			<div class="mainColumn">
				<div class="mainColumn_article">
					<a href="/plitvice">
						<h2>Plitvička jezera</h2>
					</a>
					<p>Plitvička jezera najstariji su i najveći nacionalni park Republike Hrvatske. Svojom iznimnom prirodnom ljepotom
						ovo je područje oduvijek privlačilo zaljubljenike u prirodu, pa je već 8. travnja 1949. godine proglašeno prvim
						nacionalnim parkom u Hrvatskoj. Proces osedravanja, kojim se formiraju sedrene barijere i stvaraju jezera,
						predstavlja jedinstvenu univerzalnu vrijednost zbog koje su Plitvička jezera dobila međunarodno priznanje 26.
						listopada 1979. godine, upisom na UNESCO-vu Listu svjetske baštine.</p>
					<img src="../static/images/plitvice_lake.jpg" alt="">
					<p>Nacionalni park Plitvička jezera | Znanstveno - stručni centar "Dr. Ivo Pevalek" | HR 53231 Plitvička Jezera
						tel: +385 (0)53 751 015, +385 (0)53 751 014 | e-mail: info@np-plitvicka-jezera.hr</p>
				</div>
				<div class="mainColumn_article">

					<h2>Još neki članak o parkovima</h2>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, soluta? Sint culpa eos, quibusdam cumque
						corrupti quod minima accusamus neque eaque a quo libero? Impedit dolor eos natus itaque velit non odio, possimus,
						voluptates repudiandae excepturi aut omnis, facere deserunt. Perferendis vel necessitatibus magni sapiente
						reprehenderit beatae mollitia veritatis quibusdam dolores omnis nihil maxime inventore tenetur quidem minus ad
						asperiores obcaecati fuga quae, dolor quia. Quasi, dolores unde. Esse numquam corrupti maiores enim obcaecati
						quam, mollitia vitae aliquam explicabo beatae?</p>
					
				
				</div>
			</div>


			<div class="sideColumn">
				<div class="sideColumn_article">
					<h2><a href="/risnjak">Risnjak</a></h2>
					<img src="../static/images/risnjak_sidearticle.jpg" alt="">
					<p>Nacionalni park Risnjak nalazi se u Gorskom kotaru, najšumovitijem području zapadne Hrvatske, površinom od 63,5
						km² zauzima središnji dio masiva Risnjaka i Snježnika te gornji tok rijeke Kupe s izvorišnim dijelom. Zračna
						udaljenost od vrha Velikog Risnjaka (1528m) do mora iznosi 15 km, a od izvora Kupe (321m) 8 km. Dakle, na samo 23
						km zračne udaljenosti vladaju izrazite klimatske razlike. To je ono po čemu se ističe Risnjak, planina koja
						nadvisuje sva područja između kopna i mora što su pripala Nacionalnom parku.</p>

				</div>
				<div class="sideColumn_article">
					<h2><a href="/paklenica">Paklenica</a></h2>
					<img src="../static/images/paklenica_sidearticle.jpg" alt="">
					<p>Zbog svoje jedinstvene prirodne osnove, izuzetnih geomorfoloških oblika i veličanstvenih šuma, prostor Velike i
						Male Paklenice već je 1949. g. proglašen nacionalnim parkom. Osnovni razlog proglašenja ovog prostora nacionalnim
						parkom bila je zaštita najočuvanijeg i najvećeg šumskog kompleksa na području Dalmacije.</p>

				</div>
				<div class="sideColumn_article">
					<h2><a href="https://www.parkovihrvatske.hr/budi-zastitnik-parka">Akcija čišćenja u Kopačkom Ritu</a></h2>

					<p>Zajedničkim snagama članova HGSS Stanice Osijek, djelatnika i prijatelja Parka ovaj smo vikend očistili i
						uredili ribolovnu zonu na Vemeljskom Dunavcu. Lijepo vrijeme i prekrasna priroda učinili su da je rad protekao u
						dobrom raspoloženju i ugodnom druženju. Vjerujemo da će očišćeni okoliš potaknuti posjetitelje da ubuduće više
						paze na čistoću. </p>

				</div>
			</div>

		</div>








	</div>



	{% endblock %}


</body>

</html>