{% extends "base.html" %}

{% block content %}
<!-- glavni kontejner u kojeg smjestamo elemente -->
<div class="naslovnaMainContainer">

	<div class="weatherInfoSection">
			<p>Temperatura: {{ jsonWeather.main.temp}}°C </p>
			<p>Tlak zraka: {{ jsonWeather.main.pressure}} hPa</p>
			<p>Vlažnost: {{ jsonWeather.main.humidity}}%</p>
	</div>
	<div class="articleGrid">

		<div class="mainColumn">
			<div class="mainColumn_article">

				<h2 style="color: rgb(247, 200, 72);">Kako do Plitvica?</h2>

				<p>Nacionalnom parku moguće je pristupiti državnim cestama:

					DC429 (Selište Drežničko – Prijeboj) iz smjera Zagreba/Zadra
					DC52 (Vrhovine – Korenica) iz smjera Otočca (A1)
					DC42 (Vrbovsko – Grabovac) iz smjera Ogulina (A1)

					Istočnim dijelom Parka prolazi cesta DC429 uz koju se nalaze dvije glavne ulazne recepcije u zonu posjećivanja
					jezera Nacionalnog parka, Ulaz 1 i Ulaz 2. Na oba ulaza osiguran je parking za posjetitelje (s naplatom), a u
					neposrednoj blizini ulaza nalaze se i autobusna stajališta.</p>

				<iframe class="mapFrame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2827.847632092467!2d15.579823215583467!3d44.865396579098494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47615e6cfed90f3d%3A0x51a8ff8379a5e70!2sPlitvice+Lakes+National+Park!5e0!3m2!1sen!2shr!4v1548624901600"
				 width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

				<p>Cestom DC429 prometuju autobusne linije koje povezuju ponajprije unutrašnjost Hrvatske i obalu. Savjetujemo da
					aktualan raspored linija potražite u info uredima Parka ili na web stranici Autobusnog kolodvora Zagreb
					<a href="https://www.akz.hr/">(www.akz.hr)</a>. Obzirom da su glavni ulazi Parka međusobno udaljeni oko 3 km,
					preporučujemo da unaprijed isplanirate
					svoj posjet zbog mogućnosti odabira između različitih programa obilaska.

					Radi boljeg snalaženja i kretanja na području Nacionalnog parka, preporučujemo našu turističku kartu koju možete
					kupiti u našim info uredima (Ulaz 1, Ulaz 2, pomoćni ulaz Flora, stanica vlakova 3) i suvenirnicama.</p>
			</div>
			<div class="mainColumn_article">

				<h2 style="color:rgb(247, 200, 72)">Aktivnosti u parku</h2>

				<p>NP Plitvička jezera područje je iznimne bioraznolikosti i georaznolikosti koje godišnje posjeti preko milijun
					posjetitelja, stoga molimo, ne ostavljajte tragove kako bi ovo zaštićeno područje ostalo očuvano i za buduće
					generacije, krećite se označenim stazama i poštujte pravila ponašanja unutar Parka.

					Želite li posjetiti jezersku zonu, na raspolaganju vam je 8 kružnih programa obilaska, a ukoliko više preferirate
					pješačenje u mirnijem okruženju i želite svoj boravak obogatiti znanjem o šumskim ekosustavima, možete odabrati
					neku od 4 planinarske staze. U info uredima Parka potražite brošuru o planinarskim stazama kao i našu turističku
					kartu.</p>
				<img src="../static/images/plitvice_most.jpg" alt="">
				Pješačke staze u Parku relativno su uske i prolaze ponajviše neravnim terenom i drvenim mostićima duž obala jezera,
				stoga zbog sigurnosti posjetitelja i posebnosti područja nije dozvoljeno udaljavanje s označenih pješačkih staza.
				Obzirom na karakteristike terena, preporučeno je imati odgovarajuću odjeću i obuću, kao i zaštitu od kiše i/ili
				sunca.


			</div>
		</div>


		<div class="sideColumn">
			<div class="sideColumn_article">
				<h2 style="color:rgb(247, 200, 72)">Obilazak jezera</h2>
				<img src="../static/images/plitvice_obilazakj.jpg" alt="">
				<p>Radi lakšega kretanja u jezerskoj zoni, posjetiteljima koji ulaze u Park na Ulazu 1 omogućen je izbor između
					četiri programa obilaska označenih zelenom bojom na informativnim pločama. Četiri programa koji započinju na Ulazu
					2 označeni su narančastom bojom.

					U Parku prometuju električni brodovi (jezero Kozjak) i vlakovi za prijevoz posjetitelja, a za čije korištenje je
					potrebno imati važeću <a href="https://np-plitvicka-jezera.hr/planirajte-posjet/cjenik/">ulaznicu</a> za
					Nacionalni park.

					Najvažnije napomene vezane uz posjet Nacionalnom parku pogledajte <a href="https://np-plitvicka-jezera.hr/planirajte-posjet/aktivnosti/">ovdje</a>.</p>

			</div>
			<div class="sideColumn_article">
				<h2 style="color:rgb(247, 200, 72)">Planinarenje</h2>
				<img src="../static/images/plitvice_planinarenje.jpg" alt="">
				<p>Potpun doživljaj Nacionalnog parka Plitvička jezera nije moguć bez upoznavanja šumskih ekosustava koji
					prekrivaju više od ¾ njegove površine. Poučne staze imaju za cilj približiti šumski ekosustav posjetiteljima koji
					svoj boravak u Nacionalnom parku Plitvička jezera žele, uz aktivni odmor, obogatiti i znanjem o šumama i šumskim
					ekosustavima te spoznati ulogu šume u očuvanju jezera. Staze vode kroz velike šumske komplekse i gorske livade s
					prekrasnim vidikovcima. Duž staza postavljeni su poučni panoi čija je osnovna zadaća upoznati posjetitelje sa
					šumskim ekosustavima te drugim prirodnim i kulturnim znamenostima. Osim edukativnog karaktera, zbog svoje duljine
					i konfiguracije terena, staze imaju i rekreativni karakter</p>

			</div>
			<div class="sideColumn_article">
				<h2 style="color:rgb(247, 200, 72)">Biciklizam</h2>
				<img src="../static/images/plitvice_biciklizam.jpg" alt="">
				<p>Biciklizam nije dopuštena aktivnost na području Nacionalnog parka, no kretanje biciklima dozvoljeno je
					isključivo na državnim cestama DC429, DC42 i DC52.

					Temeljem zona zaštite koje su definirane Planom upravljanja Nacionalnim parkom Plitvička jezera, aktivnost
					biciklizma moguća je u južnom, rubnom dijelu Parka. Na taj se dio nastavlja organizirana i označena mreža
					biciklističkih staza na području Općine Plitvička Jezera.
					<a href="https://np-plitvicka-jezera.hr/wp-content/uploads/2017/10/Plitvice-Active-karta-2016.pdf?x92898">Ovdje
						možete pogledati kartu</a> biciklističkih staza na području Općine Plitvička Jezera u PDF formatu.</p>

			</div>
		</div>

	</div>








</div>



{% endblock %}