{% extends "base.html" %}

{% block content %}
<!-- glavni kontejner u kojeg smjestamo elemente -->
<div class="naslovnaMainContainer">

		<div class="weatherInfoSection">
				<p>Temperatura: {{ jsonWeather.main.temp}}°C </p>
				<p>Tlak zraka: {{ jsonWeather.main.pressure}} hPa</p>
				<p>Vlažnost: {{ jsonWeather.main.humidity}}%</p>
		</div>
	<div class="articleGrid">

		<div class="mainColumn">
			<div class="mainColumn_article">

				<h2 style="color: rgb(247, 200, 72);">Kako do Risnjaka?</h2>

				<p>Za posjetitelje, Risnjak je vrlo dostupno područje. Do svih atrakcija dolazi se jednostavno i bez posebnih
					priprema ili opreme, doli izletničke znatiželje i žudnje za boravkom u prirodi. Tako se do izvora Kupe, krškog
					fenomena, stiže pješačkim stazama iz sela Razloge, Hrvatsko ili Kupari.</p>

				<iframe class="mapFrame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d358182.97593225905!2d14.35207329076715!3d45.463669659794924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4764971eb00c9923%3A0x4ea213ec0d62c5df!2sNacionalni+Park+Risnjak!5e0!3m2!1shr!2shr!4v1548760036106"
				 width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				<p>Do Schlosserova doma na Risnjaku vodi
					nekoliko planinarskih staza čiji je završetak otkriće prirode. Putem je moguće vidjeti divljač na atraktivnim
					lokalitetima. Moguć je i sportski ribolov, dakako, uz dozvolu. Sve što se ulovi, vraća se u rijeku.</p>
			</div>
			<div class="mainColumn_article">

				<h2 style="color:rgb(247, 200, 72)">Vrhovi Risnjaka</h2>

				<p>Iz najšumovitijeg prostora Hrvatske, Gorskog kotara, ogoljeni i kameni izdižu se masivi Risnjak (1528 m) i
					Snježnik (1506 m). Vrhovi su im udaljeni tek tri kilometra pa se doimaju kao kameni blizanci ponikli iz šumskog
					zelenila.</p>
				<img src="../static/images/risnjak_planina.jpg" alt="">
				<p>
					Risnjački je masiv ujednačenijeg krajolika, što se može iščitati iz naziva njegovih vrhova – Sjeverni Mali Risnjak
					(1434 m) i Južni Mali Risnjak (1248 m). I njihovi su vrhovi bliski susjedi, udaljeni tek 1,8 kilometara.

					Snježnik, pak, pripada izduženoj gorskoj kosi s nižim vrhovima: Međuvrhi (1460 m), Guslica (1490 m) i Planina
					(1426 m).

				</p>


			</div>
		</div>


		<div class="sideColumn">
			<div class="sideColumn_article">
				<h2 style="color:rgb(247, 200, 72)">Neki članak sa strane a ima veze s Risnjakom</h2>
				<img src="../static/images/risnjak_jezero.jpg" alt="">
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde quis impedit alias ipsa atque omnis sequi
					architecto repellat eum, nulla nemo eligendi aut quam. Ipsa molestiae velit voluptatibus quia nisi facilis nemo a
					aliquid, deserunt sint fugiat dignissimos placeat impedit architecto excepturi minus quas inventore cumque!
					Explicabo perspiciatis eligendi dolorum quod facere vero repellat quas excepturi itaque quo assumenda eius,
					voluptas ipsum quasi debitis officia. Dignissimos cumque quidem id corrupti blanditiis alias maiores eos,
					molestias autem vitae mollitia doloribus pariatur?</p>

			</div>
			<div class="sideColumn_article">
				<h2 style="color:rgb(247, 200, 72)">Pansion</h2>
				<img src="../static/images/risnjak_pansion.jpg" alt="">
				<p>Pansion NP RISNJAK smješten je neposredno uz Upravu parka u slikovitom malom goranskom mjestu Crni Lug.

					Smještaj nudimo u pet dvokrevetnih soba, dok specijalitete naše kuhinje možete kušati u restoranu pansiona –
					“crnoluški želudac”, jela od divljači, štrudlu ili palačinke od borovnica … U vrućim ljetnim danima predahnite na
					otvorenoj terasi sa koje se pruža prekrasan pogled na obližnje jezerce okruženo zelenilom.</p>

			</div>
		</div>

	</div>








</div>



{% endblock %}