{% extends "base.html" %}

{% block content %}



<div class="jumbotron">
        <h1 class="display-4">{% trans %}Subscribe to our newsletter{% endtrans %}</h1>
        
        <p class="lead">{% trans %}By subscribing, you will get the best deals and special events! We'll send you coupons every time there's a special discount!{% endtrans %}</p>
        <hr class="my-4">
        <form method="POST" action="{{ url_for('subscribe')}}">
                {{ form.csrf_token }}
                {{ form.name.label }}
                {{ form.name }}
                {% for error in form.name.errors %}
                        <p>{{error}}</p>
                {% endfor %}
                {{ form.email.label }}
                {{ form.email }}
                {% for error in form.email.errors %}
                        <p>{{error}}</p>
                {% endfor %}
        <input type="submit" value="{% trans %}Subscribe{% endtrans %}" class="btn btn-primary btn-lg">
        <h2>{{ message }}</h2>
    </form>
    </div>






{% endblock %}